body {
  margin: 0;
  padding: 0;
  /* remove default space on the sides */
  background-color: rgba(238, 234, 228, 0.438);
  color: rgb(53, 51, 32);
}

.hero {
  position: relative;
  /* prevents hero to take up the entire page */
  height: 450px;
  overflow: hidden;
  box-shadow: 0 0 2px grey;
  */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* prevent from pushing the hero content below the hero image */
  z-index: 0;
  /* put image as bottom layer */
  object-position: bottom center;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 30px;
}

.navbar,
.hero-content {
  position: relative;
  z-index: 1;
  /* appear on top of image */
  color: white;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.header-title {
  margin-bottom: 0px;
}

.primary-cta,
.events-button {
  margin-top: 30px;
  background-color: rgb(164, 88, 236);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(18, 18, 18, 0.533);
}

.cta {
  border: 2px solid rgb(164, 88, 236);
  background-color: transparent;
  padding: 7px 10px;
  color: rgb(164, 88, 236);
  border-radius: 5px;
  margin-bottom: 10px;
  ;
}

.introduction,
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 30px auto;
  /* centers the container itself */
  padding: 0 30px;
  /* always adds 20px on left and right */
}

.events-section {
  background-color: rgba(222, 219, 213, 0.281);
  box-shadow: 0 0 5px rgba(193, 193, 193, 0.48);
  border-radius: 5px;
  padding: 2px 12px 2px;
  margin: 12px;
}

.card-section-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 40px 40px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  /* make cards responsive */
  gap: 20px 30px;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 244, 242);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(193, 193, 193);
  transition: 0.5s;
}

.card-description {
  flex: 1;
  /* make buttons align vertically */
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-style: italic;
}

.card img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 2px grey;
}

.card:hover {
  transform: translate(0, -5px);
  /* add card up movement on hover */
  /*background-color: rgb(247, 247, 247);*/
}

.cta:hover {
  background-color: rgba(212, 185, 238, 0.202);
}

.card-title {
  font-size: 14px;
}

.events-button {
  display: flex;
  justify-content: center;
  margin: 42px auto;
}

a {
  text-decoration: none;
}

.sign-up-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.text-field {
  display: flex;
}

/* mobile */
@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
    /* hide navbar */
  }

  .card-section {
    grid-template-columns: 1fr;
    /* set to only 1 column */
  }

  .card:hover {
    transform: translate(5px, 0);
    /* add card movement to right side instead of up on hover */
  }

  .logo {
    margin-top: 80px;
  }
}


/* wide-screen */
@media only screen and (min-width: 1500px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  }
}

footer {
  padding: 20px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}