body {
  margin: 0;
  padding: 0;
  /* remove default space on the sides */
}

.hero {
  position: relative;
  /* makes hero not take up the entire page */
  height: 420px;
  overflow: hidden;
  box-shadow: 0 0 2px grey;
  */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* prevent from pushing the hero content below the hero image */
  z-index: 0;
  /* put image as bottom layer */
  object-position: bottom center;
}

.logo {
  height: 180px;
  width: auto;
}

.navbar,
.hero-content {
  position: relative;
  z-index: 1;
  /* appear on top of image */
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.header-title {
  margin-bottom: 0px;
}

.cta {
  margin-top: 10px;
  background-color: rgb(164, 88, 236);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 2px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 30px auto;
  /* centers the container itself */
  padding: 0 20px;
  /* always adds 20px on left and right */
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  /* make cards responsive */
  gap: 20px 30px;
  padding: 10px 30px;
  /* row, column gap */
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  transition: 0.5s;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  transform: translate(0, -10px);
  /* add card up movement on hover */
  background-color: rgb(247, 247, 247);
}

/* mobile */
@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }

  /* hide navbar */
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  /* make cards more narrow to fit the screen size */

  .card:hover {
    transform: translate(10px, 0);
    /* add card movement to right side instead of up on hover */
  }
}

/* tablet */
@media only screen and (min-width: 501px) and (max-width: 768px) {

  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background-color: rgb(242, 242, 242);
  width: 100%;
  padding: 20px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  color: rgb(110, 110, 110);
}